@charset "UTF-8";

/*-------------------------------

テンプレート共通

-------------------------------*/

/*アンカーリンク調整*/
:target {
	scroll-margin-top: 88px; /* ヘッダーの高さに合わせて調整 */
  }
.elementor-menu-anchor {
  position: relative;
}

.elementor-menu-anchor::before {
  content: "";
  display: block;
  height: 88px;  /* ヘッダー高さ */
  margin-top: -88px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	768px〜1024px：タブレット 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media (min-width: 768px) and (max-width: 1024px) {
/*アンカーリンク調整*/
:target {
	scroll-margin-top: 87px; /* ヘッダーの高さに合わせて調整 */
  }
.elementor-menu-anchor::before {
  height: 87px;  /* ヘッダー高さ */
  margin-top: -87px;
}
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	〜767px：SP横
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width:767px) {
:target {
	scroll-margin-top: 69px; /* ヘッダーの高さに合わせて調整 */
  }
.elementor-menu-anchor::before {
  height: 69px;  /* ヘッダー高さ */
  margin-top: -69px;
}
}
