@charset "UTF-8";

/*-------------------------------

テンプレート共通

-------------------------------*/

/*アンカーリンク調整*/
:target {
	scroll-margin-top: 88px; /* ヘッダーの高さに合わせて調整 */
  }
.elementor-menu-anchor {
  position: relative;
}

.elementor-menu-anchor::before {
  content: "";
  display: block;
  height: 88px;  /* ヘッダー高さ */
  margin-top: -88px;
}
